body {
    margin: 0px;
}

.container1 {  
    background: url(/img/IMG_0340.jpg);
    background-position: center center;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    'hd'
    'mn'
}



.header1 {
    margin: auto;
    text-align: center;
    grid-area: hd;
    
}

.main1 {    
    grid-area: mn;
}

.lista1 {
    font-size: x-large;
    list-style-type: none;
}

li {
    margin-top: 10vh;
    font-size: small;
}
.meny1 {
    height: 100vh;
    width: 25%;
    background: white;
    position: fixed;
    left: -110vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;

}

.meny_button {
    font-size: xx-large;
    cursor: pointer;
    display: inline;
}

.show{
    left: 0;
}

.fade_layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}



.container2 {  
    background: lightblue;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    'hd'
    'mn2'
}

.main2 {    
    margin: 0px;
    grid-area: mn2;
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
}

.article1 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 30px;
    height: 27vh;
    width: 80%;
    background-color: blue;
    flex-basis: 100%
    
}
.bilder_fiskar1 {
    background: url(/img/IMG_4495.jpg);
    background-position: center;
    background-size:cover;
    margin: 10px;
    border-radius: 30px;
    height: auto;
    flex-basis: 100%;
    
}

.bilder_fiskar2 {
    background: url(/img/IMG_4066.jpg);
    background-position: center;
    background-size:cover;
    margin: 10px;
    border-radius: 30px;
    height: auto;
    flex-basis: 100%;
    
}

.bilder_fiskar3 {
    background: url(/img/abborre.jpg);
    background-position: center;
    background-size:cover;
    margin: 10px;
    border-radius: 30px;
    height: auto;
    flex-basis: 100%;
    
}

.info1 {
    margin: 10px;
    border-radius: 30px;
    height: auto;
    flex-basis: 100%;
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    'rf'
    'info';
}


.rubrik_fiskar {
    font-size: large;
    text-align: center;
    margin: auto;
    border-radius: 30px; 
    grid-area: rf;
}

.inforuta {
    height: auto;
    border-radius: 30px; 
    background: green;
    grid-area: info;
    width: 42.3vw;
}

.inforuta p {
    margin: 10px;

}


.container3 {  
    background: lightblue;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    'hd'
    'mn3'
}

.main3 {    
    margin: 0px;
    grid-area: mn3;
    background: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.article21 {
    background: url(/img/IMG_3699.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 30px;
    height: 25vh;
    width: 44vw;
    background-color: blue;
}

.article22 {
    background: url(/img/IMG_3470.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 30px;
    height: 25vh;
    width: 44vw;
    background-color: blue;
}

.article23 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 30px;
    height: 25vh;
    width: 44vw;
    background-color: blue;
}

.article24 {
    background: url(/img/IMG_4385.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 30px;
    height: 25vh;
    width: 44vw;
    background-color: blue;
}

.article25 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 30px;
    height: 25vh;
    width: 44vw;
    background-color: blue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    'hd_ut'
    'in_ut';
}

.article26 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 30px;
    height: 25vh;
    width: 44vw;
    background-color: blue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    'hd_ut'
    'in_ut';
}


.header_utrustning {
    grid-area: hd_ut;
    text-align: center;
    margin: auto;
}

.info_utrustning {
    grid-area: in_ut;
    text-align: center;
    margin-top: 20px;
}



.container4 {  
    background: lightblue ;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    'hd'
    'mn3'
}

.main4 {    
    margin: 0px;
    grid-area: mn3;
    background: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.article3 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 30px;
    height: 42vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    'hk'
    'k';

}

.header_karta {
    font-size: x-large;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    grid-area: hk;
}

.karta {
    border-radius: 30px;
    grid-area: k;
    background: green;
    width: 95vw;
}

.karta2 {
    border-radius: 30px;
    grid-area: k;
    background: green;
    width: 95vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    'hd'
    'lk'
    ;
}

.reviews {
    grid-area: hd;
    font-size: x-large;
    text-align: left;
    margin: 20px;
}

.list_kontakt {
    grid-area: lk;
    width: 95vw;
    height: 100%;
}

.lista_kontakt {

    
}

.list_item {
    margin-top: 40px;
    font-size: medium;
}

@media screen and (min-width:391px) {
    body {
        margin: 0px;
    }
    
    .container1 {  
        background: url(/img/IMG_0340.jpg);
        background-position: center;
        background-position-y: 28%;
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-template-areas: 
        'hd'
        'mn'
    }
    
    
    .header1 {
        margin: auto;
        text-align: right;
        grid-area: hd;
    }
    
    .main1 {    
        grid-area: mn;
    }

    /*fongster*/
    .main2 {    
        margin: 0px;
        grid-area: mn2;
        background: lightblue;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .article1 {
        display: flex;
        flex-direction: column;
        margin: 30px;
        border-radius: 30px;
        height: 85vh;
        width: 100px ;
        background-color: blue;
        flex-basis: 100%
        
    }
    .bilder_fiskar1 {
        background: url(/img/IMG_4495.jpg);
        background-position: center;
        background-size:cover;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        height: auto;
        width: 25vw;
        flex-basis: 100%;
        
    }
    
    .bilder_fiskar2 {
        background: url(/img/IMG_4066.jpg);
        background-position: center;
        background-position-y: 25%;
        background-size:cover;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        height: auto;
        width: 25vw;
        flex-basis: 100%;
        
    }
    
    .bilder_fiskar3 {
        background: url(/img/abborre.jpg);
        background-position: center;
        background-size:cover;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        height: auto;
        width: 25vw;
        flex-basis: 100%;
        
    }
    
    .info1 {
        margin: 10px;
        border-radius: 30px;
        height: auto;
        flex-basis: 100%;
        display: grid; 
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
        grid-template-areas: 
        'rf'
        'info';
    }
    
    
    .rubrik_fiskar {
        font-size: large;
        text-align: center;
        margin: auto;
        border-radius: 30px; 
        grid-area: rf;
    }
    
    .inforuta {
        margin-left: auto;
        margin-right: auto;
        font-size: large;
        height: 30vh;
        border-radius: 30px; 
        background: green;
        grid-area: info;
        width: 25vw;
    }
    
    .inforuta p {
        margin: 10px;
    
    }

    .main3 {    
        margin: 0px;
        grid-area: mn3;
        background: lightblue;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .article21 {
        order: 1;
        background: url(/img/IMG_3699.jpg);
        background-position: center center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        margin: 10px;
        border-radius: 30px;
        height: 40vh;
        width: 30vw;
        background-color: blue;
    }
    
    .article22 {
        background: url(/img/abborre.jpg);
        background-position: center center;
        background-size: cover;
        order: 2;
        display: flex;
        flex-direction: row;
        margin: 10px;
        border-radius: 30px;
        height: 40vh;
        width: 30vw;
        background-color: blue;
    }
    /* denna ska bli inforuta*/
    .article23 {
        background: url(/img/IMG_4385.jpg);
        background-position: center center;
        background-size: cover;
        order: 5;
        display: flex;
        flex-direction: row;
        margin: 10px;
        border-radius: 30px;
        height: 40vh;
        width: 30vw;
        background-color: blue;
    }
    
    .article24 {
        background: url(/img/IMG_3470.jpg);
        background-position: center center;
        background-size: cover;
        order: 4;
        display: flex;
        flex-direction: row;
        margin: 10px;
        border-radius: 30px;
        height: 40vh;
        width: 30vw;
        background-color: blue;
    }

    .article25 {
        order: 3;
        display: flex;
        flex-direction: row;
        margin: 10px;
        border-radius: 30px;
        height: 40vh;
        width: 30vw;
        background-color: blue;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
        grid-template-areas: 
        'hd_ut'
        'in_ut';
    }
    
  
    /*denna ska bli inforuta */
    .article26 {
        order: 6;
        display: flex;
        flex-direction: row;
        margin: 10px;
        border-radius: 30px;
        height: 40vh;
        width: 30vw;
        background-color: blue;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
        grid-template-areas: 
        'hd_ut'
        'in_ut';
    }
    
    
    .header_utrustning {
        grid-area: hd_ut;
        text-align: center;
        margin: auto;
        font-size: x-large;
    }
    
    .info_utrustning {
        grid-area: in_ut;
        text-align: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: large;
    }
    
    /* detta är för den sista hemsidan */
    .main4 {    
        margin: 0px;
        grid-area: mn3;
        background: lightblue;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .article3 {
        display: flex;
        flex-direction: row;
        margin: 10px;
        border-radius: 30px;
        height: 42vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
        grid-template-areas: 
        'hk'
        'k';
    
    }
    
    .header_karta {
        font-size: x-large;
        text-align: center;
        margin: auto;
        border-radius: 30px;
        grid-area: hk;
    }
    
    .karta {
        border-radius: 30px;
        grid-area: k;
        background: green;
        width: 95vw;
    }
    
    .karta2 {
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        grid-area: k;
        background: green;
        width: 95vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
        grid-template-areas: 
        'hd'
        'lk'
        ;
    }
    
    .reviews {
        grid-area: hd;
        font-size: x-large;
        text-align: left;
        margin: 20px;
    }
    
    .list_kontakt {
        grid-area: lk;
        width: 95vw;
        height: 100%;
    }
   
    
    

   
}