body {
    margin 0px;
}

.container1 {  
    background: url(/img/IMG_0340.jpg);
    background-position: center center;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    'hd'
    'mn'
}



.header1 {
    margin: auto;
    text-align: center;
    grid-area: hd;
    
}

.main1 {    
    grid-area: mn;
}

.lista1 {
    font-size: x-large;
    list-style-type: none;
}

li {
    margin-top: 10vh;
}
.meny1 {
    height: 100vh;
    width: 25%;
    background: blue;
    position: fixed;
    left: -110vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;

}

.meny_button {
    font-size: xx-large;
    cursor: pointer;
    display: inline;
}

.show{
    left: 0;
}

.fade_layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}



.container2 {  
    background: white;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    'hd'
    'mn2'
}

.main2 {    
    margin: 0px;
    grid-area: mn2;
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
}

.article1 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 30px;
    height: auto;
    background-color: blue;
    flex-basis: 100%
    
}
.bilder_fiskar {
    margin: 10px;
    border-radius: 30px;
    background: red;
    height: auto;
    flex-basis: 100%;
}

.info1 {
    margin: 10px;
    border-radius: 30px;
    background: red;
    height: auto;
    flex-basis: 100%;
}

